*{
    margin:0%;
    padding: 0%;
}

body{
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana,sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color:white;  
    font-weight: lighter;  
}

a:hover{
    color: black;
}

.crl{
    clear: both;
}

.container{
    width:90%;
    margin: auto;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 1%;
}

.navega{
    display:flex;
    background-color: black;
    font-family: Helvetica, sans-serif;
    margin-bottom: 1%;}


.nav_flex{
    flex: 1;
    width: 100%;
    
}

.nav_txt{
text-align: center;
padding: 10px;
    
}

.nav_txt:hover{background-image: url(../img/pattern.gif);}

.container1 {
    display: flex;
    margin-bottom: 1%;
}

.container1 div{
   
    padding: 10px;
}



.box1{
flex: 1;
}

.box2{
    flex: 1;
    background-image: url(../img/pattern3.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.box6 h1{
    color: red;
}

.box3{
flex:1;
}

.box4{
    flex: 2;
    background-image: url(../img/pattern2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
}

.box5{
    flex: 2;
}

.box6{
    flex: 1;
    background-image: url(../img/pattern4.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .nav_txt{        
        width: 50%; 
        float: left;          
    }

    .inicio_box{
        position: relative;
        top:50px;
    }

    
}

@media screen and (max-width: 768px) {
    .navega, .container1{
       flex-direction: column;
    }

    .nav_txt{
        width: 100%;
    }   
    
}








